<!-- views/partials/cart-modal.hbs -->

{{#each renderCss}}
<link rel="stylesheet" href="{{this}}">
{{/each}}

<!-- Cart Modal -->
<div id="cartModal" class="cart-modal">

    <div class="cart-content">
        <span class="close-cart">&times;</span>
        <h4>Cart</h4>
        <p>Delivery: {{deliveryTime}}</p>
        <div id="cartItemsContainerModal"></div>
        <div class="cart-empty-modal">
            <i class="fa-solid fa-shop fa-shake fa-2xl"></i>
            <h3>Empty Cart</h3>
            <p>Fill your basket with the products on the left</p>
        </div>
    </div>

    <!-- No initial total button here, it will be added dynamically -->
    
</div>

<div id="cartOverlay" class="cart-overlay"></div>