<!-- views/partials/header.hbs -->

<!-- Header section -->
<header> 
    <div class="header-container"> <!-- Container for header content -->
        <div class="logo-location-group"> <!-- Group for logo and location -->
            <div class="logo"> <!-- Logo -->
                <a href="/home"> <!-- Link to main page -->
                    <img src="/images/logo/foodies-dark.png" alt="Foodies Logo"> <!-- Image logo -->
                </a>
            </div>
            <div id="location" class="location-icon"> <!-- Location icon -->
                <i class="fa-solid fa-location-arrow fa-2x"></i> 
                <span id="location-text">Location <i class="fa-solid fa-chevron-down"></i></span> 
            </div>
        </div>
        <div class="search-form"> <!-- Search form -->
            <form action="/search" method="get"> <!-- Form for search -->
                <input type="text" id="search" name="q" placeholder="Search..."> <!-- Input field for search -->
            </form>
        </div>
        <div class="user-cart-group">
            <div id="user-profile" class="user-icon"> <!-- User profile icon -->
                <a href="/user_profile">
                    <span class="icon-group"> 
                        <i class="fa-solid fa-circle-user fa-2x"></i> 
                        <i id="arrow" class="fa-solid fa-chevron-down"></i> 
                    </span>
                </a>
            </div>
            <div id="cart" class="cart-icon"> <!-- Cart icon -->
                <a href="cart_link">
                    <i class="fa-solid fa-cart-plus fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</header>