<!-- views/partials/header.hbs -->
<!-- Header -->

<header> 
    <div class="header-container"> <!-- Container for header content -->
        <div class="logo-location-group"> <!-- Group for logo and location -->
            <div class="logo"> <!-- Logo -->
                <a href="/home"> <!-- Link to main page -->
                    <img src="/images/logo/foodies-dark.png" alt="Foodies Logo"> <!-- Image logo -->
                </a>
            </div>
            <div id="location" class="location-icon"> <!-- Location icon -->
                <i class="fa-solid fa-location-arrow fa-2x"></i> 
                <span id="location-text">Location <i class="fa-solid fa-chevron-down"></i></span> 
            </div>
        </div>
        <div class="search-form"> <!-- Search form -->
            <form action="/search" method="get"> <!-- Form for search -->
                <input type="text" id="search" name="q" placeholder="Search..."> <!-- Input field for search -->
            </form>
        </div>
        <div class="user-cart-group">
            <div id="user-profile" class="user-icon"> <!-- User profile icon -->
                <img src="/images/user/profile.png" class="user-pic" onclick="toggleMenu()">
                    <!-- User menu -->
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-info">
                                <img src="/images/user/user.png">
                                <h3>FName Lname</h3>
                            </div>
                            <hr>
                            <a href="/user-profile" class="sub-menu-link">
                                <img src="/images/user/edit.png">
                                <p>Edit Profile</p>
                                <span></span>
                            </a>
                            <a href="#" class="sub-menu-link">
                                <img src="/images/user/logout.png">
                                <p>Logout</p>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </img>
            </div>
            <!-- Cart icon -->
            <div id="cart" class="cart-icon" style="{{#if isHidden}}display:none;{{/if}}">
                <a href="/cart-modal">
                    <i class="fa-solid fa-cart-plus fa-2x"></i>
                </a>
            </div>
            <div id="cart-placeholder" class="cart-placeholder" style="{{#unless isHidden}}display:none;{{/unless}}"></div>
        </div>
    </div>
    <div class="header-divider"></div>
</header>

<script src="/javascript/user-menu.js"></script>