<!-- views/partials/login-form.hbs -->

{{#each renderCss}}
    <link rel="stylesheet" href="{{this}}">
{{/each}}


<div class="container" id="container">
    <div class="form-container sign-up">
        <form>
            <h1>Create an account</h1>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="text" placeholder="First Name" required>
            <input type="text" placeholder="Last Name" required>
            <input type="text" placeholder="Address" required>
            <input type="text" placeholder="Phone Number" required>
            <button>Sign in</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form>
            <h1>We missed you!</h1>
            <div class="social-icons">
                <a href="#" class="icon" id="google"><i class="fa-brands fa-google"></i></a>
                <a href="#" class="icon" id="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon" id="github"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="icon" id="linkedin"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <span>Fill in your details to log in</span>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <a href="#">Forgot your password?</a>
            <button>Log In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Hello, Foodie!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Log In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Have you not registered?</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign In</button>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>
