<!-- views/about.hbs -->

<main>
    <div class="about">
        <h1>About Foodies</h1>
        <p>Foodies is an online delivery application created for the ECE_CK802 Internet Programming Course within the ECE department of the Univeristy of Patras located in Greece. </p>
    </div>
</main>