<!-- views/terms-of-use.hbs -->
<div class="page">

    <h1>Terms of Use</h1>

    <p>These Terms of Use govern your use of the Foodies website and mobile </p>
    <p>application operated by Foodies.</p>

    <h2>Acceptance of Terms</h2>

    <p>By accessing or using the App in any manner, including, but not limited to, </p>
    <p>visiting or browsing the App or contributing content or other materials to the App, </p>
    <p>you agree to be bound by these Terms and all applicable laws and regulations governing the App.</p>

</div>