/* Checkout page styles */
.page-title {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#checkout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.checkout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 10px;
    margin-bottom: 50px;
}

.order-details,
.cart-items {
    border: 0.125em solid #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.order-details {
    max-height: 600px;
}

.order-details h2,
.cart-items h2 {
    margin: 10px;
}

.details p,
.payment-form,
.tip-form,
.promo {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 10px;
}

.tip-form {
    text-align: center;
}

.payment-form label {
    padding-right: 5px;
}

.payment-form label,
.promo label {
    display: inline-block;
    text-align: left;
}

.tip-form legend {
    text-align: left;
}

.tip-form p,
.promo p {
    font-size: 0.75em;
    color: #bbb;
    text-align: left;
    padding-left: 0;
    margin: 5px 0;
}

.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-tip {
    background-color: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 0.40em;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    cursor: pointer;
}

.promo input[type="text"],
.promo button {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

.promo input[type="text"] {
    width: 150px;
    margin-right: 10px;
}

.promo button {
    width: 100px;
    background-color: var(--button-color);
    color: var(--white-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.promo button:hover {
    background-color: var(--button-hover-color);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    min-height: 80px;
    height: 100px;
}

.item-image img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 10%;
    margin: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    flex-grow: 1;
}

.item-price {
    font-weight: bold;
    margin-top: 5px;
}


.item-comment .comment-container {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: var(--white-color);
    padding: 10px;
    border: 0.125em solid #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    z-index: 1000;
}

.item-comment .comment-container.visible {
    display: block;
}

.info-icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
    line-height: inherit;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.info-icon:hover {
    transform: scale(1.05);
}

.info-icon i {
    font-size: 1.2em;
}


.item-comment .comment-textarea {
    width: 100%;
    height: 60px;
    border: 0.125em solid #aba9a9;
}

.item-comment .save-comment {
    display: flex;
    justify-content: center;
}

.item-comment .save-comment button {
    border: none;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5em;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 1em;
}

.item-comment .save-comment button:hover {
    background-color: var(--button-hover-color);
}

.quantity-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 5px;
    margin: 10px;
    position: relative;
}

.quantity-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    height: 30px;
}

.quantity-toggle:hover {
    background-color: #eee;
    border-radius: 8px;
    padding: 5px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.quantity-control-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.quantity-button {
    background-color: #f6f1f1;
    color: var(--black-color);
    border: none;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #bbb;
}

.quantity-button.trash {
    margin-left: 10px;
}

.order-summary {
    margin: 20px 0;
    text-align: center;
    margin-top: auto;
    align-self: flex-end;
}

.place-order {
    text-align: center;
    margin-top: 20px;
}

.place-order button {
    background-color: var(--button-color);
    color: var(--white-color);
    border-radius: 0.5em;
    border: var(--white-color);
    padding: 10px 20px;
    cursor: pointer;
}

.place-order button:hover {
    background-color: var(--button-hover-color);
}


/* Modal styles */ 
.place-order-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.place-order-content {
    background-color: var(--white-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
}

.home-button {
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5em;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.home-button:hover {
    background-color: var(--button-hover-color);
}


@media only screen and (max-width: 600px) {
    .checkout-container {
        grid-template-columns: 1fr;
    }
}