/* css/header-styles.css */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: background-color 0.3s ease;
}


header.scrolled {
    background-color: var(--white-color);
}

/* Header container style */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.logo-location-group {
    display: flex;
    align-items: center;
    order: 1;
}

/* Logo style */
.logo img {
    padding: 10px;
    margin-left: 150px;
}

/* Location icon style */
.location-icon {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    color: var(--black-color);
}

.location-icon:hover {
    transform: scale(1.1);
}

/* Search form style */
.search-form {
    order: 2;
    flex: 1;
    min-width: 10em;
    max-width: 40%;
    position: relative;
    border-radius: 2em;
    border: 1px solid var(--black-color);
}

.search-form input[type="text"] {
    width: 100%;
    padding: 1em;
    border-radius: 2em;
}

/* User and cart icons container */
.user-cart-group {
    order: 3;
    display: flex;
    align-items: center;
    margin-right: 1em;
}

/* User icon */
.user-icon {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.25em;
    border-radius: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.user-icon a {
    color: var(--black-color);
}

/* Cart icon */
.cart-icon {
    order: 4;
    cursor: pointer;
    border-radius: 2em;
    transition: color 0.3s ease, transform 0.3s ease;
    color: var(--black-color);
    padding: 14px;
    margin-right: 150px;
}

.cart-icon a {
    color: var(--black-color);
}

/* Hover effect for user and cart icons */
.user-icon:hover {
    background: rgba(0, 0, 0, 0.3);
}

.cart-icon:hover {
    transform: scale(1.1);
}

/* Adjustments for user circle icon */
.fa-circle-user {
    margin-right: 21px;
}

/* Icon group styles */
.icon-group {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

/* Rotate chevron down icon */
.fa-chevron-down.flipped {
    transform: rotate(180deg);
}

.header-divider {
    width: 100%;
    height: 2px;
    background-color: var(--lightgrey); 
}

@media screen and (max-width: 1850px) {
    .logo img {
        margin-left: 10px;
    }

    .cart-icon {
        margin-right: 10px;
    }

    .logo-location-group {
        left: 30px;
    }

    .user-cart-group {
        right: 20px;
    }
}

@media screen and (max-width: 850px) {
    .search-form {
        display: none;
    }
}