/*-------------------------------- Login/SignUp Modal --------------------------------*/
body.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal.blur {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.login-container {
    display: none;
    /* Ensure the login container is hidden by default */
    font-family: var(--font-family-login);
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    z-index: 50;
    width: 768px;
    max-width: 100%;
    min-height: 580px;
}

.login-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.login-container span {
    font-size: 12px;
}

.login-container a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.login-container button {
    background-color: #eee;
    color: #000;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #ccc;
}

.login-container button.hidden {
    background-color: #eee;
}

.login-container button.hidden:hover {
    background-color: #ccc;
}

.login-container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

/* Add styles for error messages and invalid input fields */
.is-invalid {
    border-color: red;
}

.is-valid {
    border-color: #3db845;
}

.error-message {
    color: red;
    font-size: 12px;
}

.valid-icon,
.invalid-icon {
    display: none;
    position: absolute;
    right: 15px;
    transform: translateY(-50%);
}

.valid-icon {
    color: #3db845;
    top: 50%;
}

.invalid-icon {
    color: red;
    top: 40%;
}

.is-valid+.valid-icon {
    display: block;
}

.is-invalid+.invalid-icon {
    display: block;
}

.input-group {
    width: 100%;
    position: relative;
}

.login-container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.password-container {
    position: relative;
    width: 100%;
}

/* Remove background and border for the toggle-password button */
.password-container .toggle-password {
    position: absolute;
    right: -30px;
    top: 30%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    outline: none;
}

/* Remove background and border on hover */
.password-container .toggle-password:hover {
    background: transparent;
    border: none;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login-container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #000;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.login-container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #eee;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    color: #000;
    background-color: #eee;
}

.toggle-left {
    transform: translateX(-200%);
}

.login-container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.login-container.active .toggle-right {
    transform: translateX(200%);
}

/* ================================================================= */
/* Responsive Frame */

/* Mobile First Approach */
.login-container {
    width: 90%;
    /* Adjust the width for smaller screens */
}

@media only screen and (min-width: 768px) {

    /* Styles for tablets and larger screens */
    .login-container {
        width: 50%;
        /* Adjust the width for tablets */
    }
}

@media only screen and (min-width: 1024px) {

    /* Styles for desktops */
    .login-container {
        width: 40%;
        /* Adjust the width for desktops */
    }
}