/* css/search-styles.css */

#stores {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; 
    padding: 2em 0; 
}

h1 {
    margin-bottom: 0.5em; 
}

h2 {
    margin-right: 17.5em; 
}

.store {
    background-color: var(--white-color); 
    margin-top: 2em; 
    border-radius: 0.625em; 
    transition: transform 0.3s ease; /* Add transition effect */
    max-width: 40em; 
    cursor: pointer; /* Set cursor to pointer */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.store-container {
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 2fr; /* Set grid columns */
}

.store-image {
    height: 10em; 
    width: 10em; 
    margin: 1em 2em; 
    padding: 0em; /* Remove padding */
    border-radius: 0.625em; 
    overflow: hidden; /* Hide overflow */
}

.store-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ensure image covers the container */
}

.store-description {
    margin: 1em 0.5em; 
    display: flex; 
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
}

.store-title {
    font-weight: bold; 
    font-size: 1.2em;
}

.store-rating {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
    max-width: 5em; 
}

.store-rating img {
    width: 75%; /* Set image width */
}

.store-rating p {
    margin-left: 0.3125em; 
    font-size: 0.75em;
}

.store-requirements {
    font-size: 0.9em; 
    color: #666; 
    margin-top: 0.5em; 
}

.store-message {
    margin-top: 1em; 
    color: #888; 
}

.store:hover {
    transform: translateY(-5px); /* Move up on hover */
}

/* Apply styles to search-message class */
.search-message {
    margin-top: 1em;
    color: #888;
}

.search-message img {
    display: block; 
    margin: 0 auto; 
}

.search-message p {
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .store {
        max-width: 100%; /* Set maximum width to full width */
        margin-right: 0; /* Remove margin on the right side */
        margin-bottom: 2em; /* Add margin at the bottom */
    }

    h1 {
        margin-bottom: 0.5em; /* Add margin at the bottom */
    }

    h2 {
        margin-right: 0; /* Remove margin on the right side */
    }
}