/* public/css/user-profile-styles.css */

.button-primary {
    background-color: var(--button-color);
    cursor: pointer;
    color: white;
    border-radius: 0.5em;
    border: white;
    padding: 10px 20px; 
}

.button-default {
    background-color: #bbb;
    cursor: pointer;
    color: white;
    border-radius: 0.5em;
    border: white;
    padding: 10px 20px; 
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}


.favorite-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.favorite-stores-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.favorite-store-card {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.12);
    width: 250px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.favorite-store-card img {
    width: 100%;
    border-radius: 10px;
}

.favorite-store-card h4 {
    margin: 15px 0;
}

.favorite-store-card .store-rating {
    color: #ff9800;
}

.favorite-store-card .store-rating i {
    margin: 0 2px;
}